<head>
  <title>@@title</title>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <!-- <style>body{opacity: 0;}</style> -->
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="shortcut icon" href="favicon.ico" />
  <!-- <meta name="robots" content="noindex, nofollow"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
