<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo">
      <div class="icon__logo"></div>
      <span class="forkio">ForkIO</span>
    </a> 
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <a href="#" class="menu__link">Overview</a>
          </li>
          <li>
            <a href="#" class="menu__link">About Fork</a>
          </li>
          <li>
            <a href="#" class="menu__link">Buying Options</a>
          </li>
		  <li>
            <a href="#" class="menu__link">Support</a>
          </li>
		  <button type="button" class="icon__btn"><span>Buy Now</span></button>
      </nav>
    </div>
  </div>
</header>

