.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #0c0a092c;
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__logo {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
}
.icon__logo {
	width: 42px;
	height: 42px;
	background-image: url("../img/icon/head-icon/main-icon2.png");
}
.forkio {
	padding: 0px 0px 0px 18px;
	font-size: 16px;
	font-weight: 700;
	font-family: $secondFont;
	text-transform: uppercase;
	color: #fff;
	&:hover {
		color: $mainHover;
	}
}
.menu__icon {
	display: none;
}
.menu__list {
	> li {
		position: relative;
		margin: 0px 0px 0px 50px;
		font-size: 16px;
		font-weight: 700;
		line-height: 17px;
	}
}
.menu__link {
	color: $color_2;
	font-size: 18px;
	&:hover {
		color: $mainHover;
	}
}
.icon__btn {
	width: 145px;
	height: 38px;
	border-radius: 40px;
	color: $mainHover;
	font-size: 16px;
	font-weight: 700;
	line-height: 17px;
	background-color: #fff;
	margin-left: 50px;
	&:hover {
		background-color: $mainHover;
		color: #fff;
		transition: ease 0.5s;
	}
}

//---------------------------burger---------------//
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
		> li {
			padding: 10px 0;
		}
	}
}
@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		span {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
		&::before {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
			content: "";
			top: 0;
		}
		&::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
			content: "";
			bottom: 0;
		}
	}
	.menu__icon._active {
		span {
			transform: scale(0) translate(0px, -50%);
		}
		&::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #333333;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 70px;
			background-color: #27262a;
			z-index: 2;
		}
	}
	.menu__body._active {
		left: 0;
	}
	.menu__list {
		> li {
			flex-wrap: wrap;
			margin: 0px 0px 30px 0px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		> li._active {
			display: block;
		}
	}
	.menu__link {
		font-size: 24px;
	}
}
