@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$back-but-color: rgb(247, 242, 242);

.section__container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section__button {
    font-weight: 700;
    font-size: 21px;
    border: 2px solid #8d81ac;
    padding: 23px 61px;
    border-radius: 40px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #8d81ac;

    &:hover {
      color: #8d81ac;
      background-color: #fff;
    }
  }

  .section__paragraph {
    color: #848e97;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 68px;
  }

  .section__header {
    color: #635c73;
    font-weight: 700;
    font-size: 54px;
    margin-bottom: 28px;
  }

  .section__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    color: #323232;
    margin-bottom: 14px;
    margin-bottom: 60px;
  }
}

.buttons {
  @include centered;
  font-weight: 700;
  font-size: 16px;
  gap: 10px;
  margin-top: 60px;

  .button__1 {
    @include centered;
    font-weight: 700;
    font-size: 16px;
    background-color: $back-but-color;
    padding: 7px;
    gap: 5px;
    border-right: 1px solid grey;
  }

  .buttons__watch {
    @include centered;
    border: 1px solid grey;
    border-radius: 3px;
  }

  .buttons__count1 {
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
  }

  .button__2 {
    @include centered;
    font-weight: 700;
    font-size: 16px;
    background-color: $back-but-color;
    padding: 8px;
    gap: 5px;
    border-right: 1px solid grey;

    & > svg {
      color: black;
    }
  }

  .buttons__star {
    @include centered;
    border: 1px solid grey;
    border-radius: 3px;
  }

  .buttons__count2 {
    padding: 7px;
    font-weight: 700;
    font-size: 16px;
  }

  .button__3 {
    @include centered;
    font-weight: 700;
    font-size: 16px;
    background-color: $back-but-color;
    padding: 8px;
    gap: 5px;
    border-right: 1px solid grey;
  }

  .buttons__fork {
    @include centered;
    border: 1px solid grey;
    border-radius: 3px;
  }

  .buttons__count3 {
    padding: 7px;
    font-weight: 700;
    font-size: 16px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .section__container {
    margin: 200px 80px 0 80px;
  }

  .section__paragraph {
    margin-top: 40px;
    @include centered;
  }

  .butttons {
    margin-top: 30px;
    @include centered;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section__container {
    margin: 200px 10px 0 10px;
    max-width: 100vw;

    .section__button {
      max-width: 90vw;
      font-size: 12px;
    }

    .section__header {
      font-size: 30px;
      text-align: center;
    }

    .section__paragraph {
      text-align: center;
      font-size: 14px;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100vw;
      gap: 8px;
      margin: 20px 0 0 0;

      .buttons__watch {
        .buttons__count1 {
          font-size: 12px;
        }
      }

      .buttons__star {
        display: flex;
        font-size: 12px;

        .buttons__count2 {
          font-size: 12px;
        }
      }

      .buttons__fork {
        display: flex;
        font-size: 12px;

        .buttons__count3 {
          font-size: 12px;
        }
      }
    }
  }
}