@use "sass:math";

// Підключення міксинів
@import "base/mixins";

// Підключення шрифтів
//&display=swap - додати при підключенні через плагін

// Підключити, якщо є локальні файли шрифтів
//@import "fonts/fonts";

// Підключення іконкових шрифтів
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";

$fontFamily: "Montserrat";
$secondFont: "Lato";
$fontSize: rem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням
$mainHover: #8d81ac;
$color_2: #fff;

// Налаштування адаптивної сітки

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 10;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(768.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(320.98); // Телефони L
// $mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// Обнулення
@import "base/null";

// Стилі тега BODY

body {
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}

// Оболонка wrapper
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// Обмежуючий контейнер

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "rev";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";
//------------------------------------------------------------------------//

.section {
	&__forkapp {
		background-image: url("../img/bg-section1/bg-section1.jpg");
		width: 100%;
		height: auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
.forkapp {
	&__container {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #fff;
	}

	&__title {
		margin-top: 184px;
		font-size: 82px;
		font-weight: 700;
		line-height: 82px;
		letter-spacing: 0px;
	}

	&__subtitle {
		margin-top: 20px;
		font-family: $secondFont;
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0px;
		color: $mainHover;
	}

	&__info {
		margin-top: 20px;
		text-transform: uppercase;
		line-height: 16px;
		color: #848e97;
	}
}

.btn {
	&__d {
		margin-top: 426px;
	}

	// .btn__download

	&__download {
		padding: 22px 62px;
		font-size: 21px;
		font-weight: 700;
		border-radius: 40px;
		background-color: #fff;
		border: 2px solid #8d81ac;
		color: $mainHover;
		&:hover {
			background-color: $mainHover;
			color: #fff;
			transition: ease 0.5s;
		}
	}
}
